/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    //-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    //-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    //box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading {
    background-image: url('../fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: fixed;
    top: 25px;
    right: 25px;


    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    &:hover {
        &::before, &::after {
            background: #fff;
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #ffffff;
    }
    &::before {
        .transform(rotate(45deg));
    }
    &::after {
        .transform(rotate(-45deg));
    }

    &::before, &::after {
        width: 200%;
        left: -50%;
    }
}

.fancybox-nav {
    position: fixed;
    top: 50%;
    width: 40%;
    height: 100%;
    margin-top: -2em;
    cursor: pointer;
    text-decoration: none;
    z-index: 8040;
}

.fancybox-prev {
    @media screen {
        left: 2em;

        @media (max-width: @mobile-width) {
            left: 0;
        }
    }
    .arrowLeft();
}

.fancybox-next {
    @media screen {
        right: 2em;

        @media (max-width: @mobile-width) {
            right: 0;
        }
    }
    .arrowRight();
}

.fancybox-nav span {
    position: fixed;
    top: 50%;
    width: 36px;
    height: 34px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(0, 0, 0, 0.8);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading {
        background-image: url('../fancybox/fancybox_sprite@2x.png');
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }

    #fancybox-loading div {
        background-image: url('../fancybox/fancybox_loading@2x.gif');
        background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
    }
}

.close{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    &:hover {
        &::before, &::after {
            background: #fff;
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #000;
    }
    &::before {
    .transform(rotate(45deg));
    }
    &::after {
    .transform(rotate(-45deg));
    }
    &.big {
    .transform(scale(3));
    }
    &.hairline {
        &::before, &::after {
            height: 1px;
        }
    }
    &.thick {
        &::before, &::after {
            height: 4px;
            margin-top: -2px;
        }
    }
    &.black {
        &::before, &::after {
            height: 8px;
            margin-top: -4px;
        }
    }
    &.heavy {
        &::before, &::after {
            height: 12px;
            margin-top: -6px;
        }
    }
    &.pointy {
        &::Before, &::after {
            width: 200%;
            left: -50%;
        }
    }
    &.rounded {
        &::before, &::after {
            border-radius: 5px;
        }
    }
    &.blades {
        &::before, &::after {
            border-radius: 5px 0;
        }
    }
    &.warp {
        &::before, &::after {
            border-radius: 120% 0;
        }
    }
    &.fat {
        &::before, &::after {
            border-radius: 100%;
        }
    }
}

.transform(@tr) {
    -webkit-transform: @tr;
    -moz-transform: @tr;
    -ms-transform: @tr;
    -o-transform: @tr;
    transform: @tr;
}