@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

.input {
    &-suffix {
        display: inline;

        &-form {
            display: inline;
            margin-right: 20px;
            input {
                padding-right: 40px !important;
                width: 189px;
            }

            span {
                .basePlaceholder();
                .no-select();
                display: inline-block;
                text-align: right;
                margin-left: -43px;
                width: 30px;
            }
        }
    }
}

.no-padding {
    padding: 0;
}

.small-padding {

    margin-left: 0 !important;

    @media screen {
        padding:  0 1.2em;

        @media (max-width: @mobile-width) {
            padding: 0 12px 0 3px;
        }
    }
}

a {
    color: @p;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.fixed__holder {

    @media screen {
        height: 90px;

        @media (max-width: @mobile-width) {
            height: 71px;
        }
    }

    &-new {
        height: 74px;
    }

    &-small {
        height: 71px;
    }
}

.fixed{

    @media screen {
        position: fixed;
        width: 100%;
        z-index: 99;

        @media (max-width: 40em) {
            position: relative;
        }
    }


}

.shadowed {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.animated {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: @b;
}

.column-small-collapse {
    @media screen {

        @media (max-width: 40em) {
            display: none;
        }
    }
}

.imageProgressBar {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;

    /* Dimensions */
    width: 60px;
    height: 9px;
}

.disabled {
    display: none;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-helper-hidden-accessible { display: none }

.tab-3 {
    @media screen {

        @media (max-width: @tab-width) {
            width: 33%;
        }
    }
}

.tab-7 {
    @media screen {

        @media (max-width: @tab-width) {
            width: 66%;
        }
    }
}

.description {
    font-style: italic;
    color: @lg;
    margin-left: .5em;
}

.textBreak() {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}