@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?46478284');
    src: url('../font/fontello.eot?46478284#iefix') format('embedded-opentype'),
    //url('../font/fontello.woff2?46478284') format('woff2'),
    url('../font/fontello.woff?46478284') format('woff'),
    url('../font/fontello.ttf?46478284') format('truetype'),
    url('../font/fontello.svg?46478284#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46478284#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-wifi:before { content: '\e800'; } /* '' */
.icon-washingmachine:before { content: '\e801'; } /* '' */
.icon-smoking:before { content: '\e802'; } /* '' */
.icon-essentials:before { content: '\e803'; } /* '' */
.icon-kitchenware:before { content: '\e804'; } /* '' */
.icon-water:before { content: '\e805'; } /* '' */
.icon-tv:before { content: '\e806'; } /* '' */
.icon-kettle:before { content: '\e807'; } /* '' */
.icon-sunside:before { content: '\e808'; } /* '' */
.icon-computer:before { content: '\e809'; } /* '' */
.icon-telephone:before { content: '\e80a'; } /* '' */
.icon-pets:before { content: '\e80b'; } /* '' */
.icon-events:before { content: '\e80c'; } /* '' */
.icon-playground:before { content: '\e80d'; } /* '' */
.icon-school:before { content: '\e80e'; } /* '' */
.icon-sound:before { content: '\e80f'; } /* '' */
.icon-view:before { content: '\e810'; } /* '' */
.icon-cleaning:before { content: '\e811'; } /* '' */
.icon-heating:before { content: '\e812'; } /* '' */
.icon-elevator:before { content: '\e813'; } /* '' */
.icon-microwave:before { content: '\e814'; } /* '' */
.icon-kitchen:before { content: '\e815'; } /* '' */
.icon-gas:before { content: '\e816'; } /* '' */
.icon-family:before { content: '\e817'; } /* '' */
.icon-aircondition:before { content: '\e818'; } /* '' */
.icon-coffeemachine:before { content: '\e819'; } /* '' */
.icon-dishwasher:before { content: '\e81a'; } /* '' */
.icon-wheelchair:before { content: '\e81b'; } /* '' */
.icon-garage:before { content: '\e81c'; } /* '' */
.icon-park:before { content: '\e81d'; } /* '' */
.icon-breakfast:before { content: '\e81e'; } /* '' */
.icon-bathtub:before { content: '\e81f'; } /* '' */
.icon-kindergarten:before { content: '\e820'; } /* '' */
.icon-satellite:before { content: '\e821'; } /* '' */
.icon-cog:before { content: '\e822'; } /* '' */
.icon-facebook-official:before { content: '\e823'; } /* '' */
.icon-vkontakte:before { content: '\e824'; } /* '' */
.icon-camera:before { content: '\e825'; } /* '' */
.icon-balcony:before { content: '\e826'; } /* '' */
.icon-internet:before { content: '\e827'; } /* '' */
.icon-hot:before { content: '\e828'; } /* '' */