@mobile-width: 45.78571em;
@tab-width: 63.52812em;

//////////////////
/// COLORS ///////
//////////////////
@g: #ececec;
@wg: #ececec;
@bss: #fafafa;
@bs: #eaeaea;
@w: #fff;

// primary site color
@p: #4782fa;
@pl: #a4c3ff;

@b: #2d2d2d;
@lb: #313131;

@g: #b4b4b4;
@lg: #bebebe;
@dg: #ababab;
@ggd: #767676;
@gd: #636363;
@ddg: #484848;

@vk: #4c75a3;
@fb: #3b5998;

// colors
@m-red: #dc2733;
@m-green: #299c57;
@m-blue: #3b70ce;

.clean-a {
    color: @b;
    text-decoration: none;
}