.header {
    &__holder {
        position: absolute;
        top: 0;
        z-index: 102;
        width: 100%;
    }
    
    &__land {
        position: relative;

        .row {
            margin: 0 auto !important;
        }

        @media screen {
            height: 547px;

            @media (max-width: @mobile-width) {
                height: 447px;
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;

        height: 100%;
        width: 100%;
        z-index: 100;
        
        //background-position: -5% -5%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        //
        //filter: blur(10px);
        //-webkit-filter: blur(10px);
        //-moz-filter: blur(10px);
        //-o-filter: blur(10px);
        //-ms-filter: blur(10px);
        //filter:progid:DXImageTransform.Microsoft.blur(MakeShadow='false', PixelRadius='12',ShadowOpacity='0.75');
    }

    &__mask {
        position: absolute;
        top: 0;
        
        height: 100%;
        width: 100%;
        z-index: 101;

        background-color: rgba(0, 0, 0, 0.4);
    }

    &__content {
        color: @w;
        //position: absolute;

    }
}

.my__landing {


    @media screen {
        padding: 4em 10em;

        @media (max-width: @tab-width) {
            padding: 4em 0;
        }

        @media (max-width: @mobile-width) {
            display: none;
        }
    }

    border-bottom: 1px solid @bs;

    .my__arg {
        text-align: center;

        .heading {
            font-weight: bold;
            font-size: 1.75em;
            margin-bottom: .75em;
        }

        .image {
            margin-top: 2.5em;
            margin-bottom: 2.5em;
        }
    }
}