a.feed__item {
    color: @b;
    text-decoration: none;

    &:hover {
        .data__address {
            color: @p;
        }

        .data__info {
            color: @p;
        }
    }
}

.style-iw .feed__item {
    font-family: "Open Sans", sans-serif;
    position: relative !important;
    width: 255px !important;
    font-weight: 400 !important;
    font-size: 13px;
    padding: 0;
    margin: 9px 10px 0 10px;
    top: auto !important;
    left: auto !important;

    .notice__data {
        padding: .5em 0 .5em 0 !important;
    }

    .data {
        &__address {
            font-size: 1em !important;
            font-weight: bold;
            display: inline !important;
        }
        &__info {
            font-size: 1em !important;
            font-weight: bold;
            display: inline !important;
        }
        &__time {
            position: initial !important;
            display: inline-block !important;
        }
        &__amenities {
            position: initial !important;
            display: inline-block !important;
        }
        &__brief {
            font-size: 1em !important;
            display: inline !important;

            &:after {
                display: table;
                content: '';
                clear: both;
            }
        }
    }
}

//.gm-style-iw {
//    width: 350px !important;
//    top: 0 !important;
//    left: 0 !important;
//    border-radius: 2px 2px 0 0;
//}

.style-iw {
    width: 275px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    border-radius: 3px;
    padding-top: 1px;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
    //box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    //border: 1px solid rgba(72, 181, 233, 0.6);
    //border-radius: 2px 2px 10px 10px;

    & > div {
        width: 275px;
    }

    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        bottom: -2em;
        left: 50%;
        box-sizing: border-box;

        border: 1em solid black;
        border-color: transparent transparent @w @w;

        transform-origin: 0 0;
        transform: rotate(-45deg);

        box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.25);
    }
}

.feed__item {
    float: left;

    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;

    padding: 5px;

    -webkit-transition:top .3s ease .1s, left .3s ease .1s;
    -moz-transition:top .3s ease .1s, left .3s ease .1s;
    -ms-transition:top .3s ease .1s, left .3s ease .1s;
    -o-transition:top .3s ease .1s, left .3s ease .1s;
    transition:top .3s ease .1s, left .3s ease .1s;

    @media screen {
        width: 50%;

        @media (max-width: @tab-width) {
            width: 100%;
        }
    }


    .notice {
        &__mask {
            background-size: cover;
            background-image: url("../images/mask.png");
            position: relative;
            display: block;
            min-height: 200px;
        }
        &__image {
            position: relative;
            display: block;
            min-height: 200px;
            background-size: cover;

            .image {
                &__amenities {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    color: @w;

                    li {
                        display: inline;
                    }
                }

                &__short_info {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    text-align: right;
                    color: @w;

                    .info {
                        &__price {
                            font-size: 1.8em;
                            line-height: 1.4em;
                            margin-bottom: -0.3em;
                        }
                        &__type {
                            font-size: .85em;
                        }
                    }
                }

                &__date {
                    position: absolute;
                    bottom: 10px;
                    left: 15px;
                    color: @w;
                    font-size: .85em;
                }

                &__photos {
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                    color: @w;

                    i {
                        opacity: .75;
                    }
                }
            }
        }

        &__data {
            background-color: @w;
            padding: 1em 1em 1.4em 1em;

            .data {
                &__brief {
                    .textBreak();
                }

                &__address {
                    font-size: 1.5em;
                    margin-bottom: .5em;
                }
                &__status {
                    margin-bottom: .75em;

                    .status {
                        font-size: .85em;
                        color: @w;
                        padding: 3px 7px;
                        border-radius: 3px;
                        background-color: @dg;

                        &-published {
                            background-color: @m-green;
                        }
                    }
                }
                &__metro {
                    list-style: none;
                    margin: 1em 0 0 0;
                    padding: 0;

                    li.station {
                        &-red {
                            &:before {
                                background: @m-red;
                            }
                        }
                        &-green {
                            &:before {
                                background: @m-green;
                            }
                        }
                        &-blue {
                            &:before {
                                background: @m-blue;
                            }
                        }

                        display: inline-block;
                        position: relative;
                        margin-left: 1.2em;
                        margin-right: 1.3em;
                        margin-top: .5em;
                        padding-left: .5em;

                        &:before {
                            position: absolute;
                            margin: 5px 0 0 -1.35em;
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            border-radius: 10em;
                            content: "";
                        }

                        .station {
                            &__title {
                                margin-bottom: .2em;
                            }
                            &__timing {
                                font-size: .8em;
                            }
                        }
                    }
                }
            }
        }
    }

    &-short {
        .notice__data {
            padding-bottom: 4.5em;
            position: relative;

            .data {

                &__info {
                    font-size: 1.4em;
                    margin-bottom: .4em;
                }
                &__amenities {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    color: @ddg;

                    li {
                        display: inline;
                    }
                }
                &__time {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    color: @dg;
                    font-size: .85em;
                }
            }
        }
    }
}