.de {
    padding: 0;
    border: solid 1px @dg;

    &.non-valid {
        border-bottom: solid 1px #FF4B4B;
    }

    &__item {
        border-bottom: solid 1px @bs;
        cursor: text;

        &:last-child {
            border-bottom: none;
        }
    }

    &__info {
        color: @dg;
        font-size: .8em;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* IE/Edge */
        user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */

        padding: 0 10px 10px 10px;

        &.non-valid {
            color: #FF4B4B;
            font-weight: bold;
        }

        &:after {
            display: table;
            content: '';
            clear: both;
        }

        &:hover {
            cursor: text;
        }
    }

    textarea {
        border: none !important;
        margin: 0 !important;
        padding: 10px 10px 0 10px !important;
    }
}