.floating {
    &-data {
        width: 190px;
        position: relative;
        margin: 0 auto .4em auto;
    }

    &-label {
        font-size: 12px;
        color: #9c9a9a;
        text-align: left;
        padding-left: 3px;
        margin-bottom: 2px;
        opacity: 0;
        width: 100%;
    }

    &-input {
        &.px {
            padding-right: 35px !important;
        }

        margin-top: 0 !important;
        padding-top: 3px !important;
        padding-bottom: 6px !important;
        padding-left: 3px !important;
        width: 100% !important;

        &-masked {
            margin-top: 0 !important;
            padding-top: 3px !important;
            padding-bottom: 6px !important;
            padding-left: 3px !important;
            width: 100% !important;
        }
    }

    &-postfix {
        position: absolute;
        right: 3px;
        top: 30%;
        color: #bebebe;
        font-style: italic;
    }

    &-validation {
        font-size: 12px;
        font-style: italic;
        color: #f89090;
        opacity: 0;
        margin-top: 3px;
    }

    &-error {
        .floating-label {
            color: #ff5f5f;
        }
        .floating-input {
            border-bottom-color: #ff5f5f;
        }
        .floating-validation {
            opacity: 1;
        }
    }
}