.map {

    .feed {
        &__empty {
            background-color: @wg;
            padding: 10em 0;
            text-align: center;
            display: none;

            .h1 {
                font-size: 2em;
                line-height: 2.7em;
            }

            &-visible {
                display: block;
            }
        }
        &__holder {
            top: 0;
            left: 0;
            width: 100%;
        }
        &__row {
            position: relative;
        }
        &__list {
            padding: 5px;
            background-color: @bs;

            &:after {
                clear: both;
                display: table;
                content: "";
            }
        }
        &__wrapper {
            background-color: @w;

            @media screen {

                @media (max-width: 40em) {
//                    padding: 1em;
                }
            }
        }
        &__title {
            font-size: 1.6em;
            text-align: center;
            padding: 1em;
        }
    }
}
.station__big{
    background: center no-repeat;
    border: 1px solid #444ca0;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    margin: 0 auto;
}
.station {
    &__big {

        &_title {
            text-align: center;
            margin: .5em 0 .3em 0;
        }
        &_comments {
            text-align: center;
            font-size: .8em;
        }

        &-blue {
            .station__big();
            background-image: url("../images/station-blue.png");
            border-color: #444ca0;
        }
        &-red {
            .station__big();
            background-image: url("../images/station-red.png");
            border-color: #cb3d3d;
        }
        &-green {
            .station__big();
            background-image: url("../images/station-green.png");
            border-color: #109a06;
        }
    }
    &__small {
        /* @todo! винести загальні сюди (padding-left: 33px !important; min-height: 33px;) */
        &-red{
            &:extend(.station__small);
            padding-left: 33px !important;
            min-height: 33px;
            background: no-repeat url("../images/station-red.png");
        }

        &-green{
            &:extend(&__small);
            padding-left: 33px !important;
            min-height: 33px;
            background: no-repeat url("../images/station-green.png");
        }

        &-blue{
            &:extend(.station__small);
            padding-left: 33px !important;
            min-height: 33px;
            background: no-repeat url("../images/station-blue.png");
        }
    }
}