.hide-gallery-on-mobile {
    @media screen {
        display: block;

        @media (max-width: @mobile-width) {
            display: none;
        }
    }
}

.photo {
    &__gallery {
        position: relative;

        .gallery {
            &__content {
                backface-visibility: hidden;
                -moz-transform: translateZ(0);
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                position: relative;
                overflow: hidden;
                text-align: center;
                white-space: nowrap;
                font-size: 0;


                @media screen {
                    height: 440px;

                    @media (max-width: 92em) {
                        height: 390px;
                    }

                    @media (max-width: @mobile-width) {
                        height: 350px;
                    }
                }
            }

            &__title {
                @media screen {
                    display: none;

                    @media (max-width: @mobile-width) {
                        display: block;
                        position: absolute;
                        text-align: center;
                        bottom: 0;
                        width: 100%;
                        padding: 2em 1em;
                    }
                }

                strong {
                    font-weight: bold;
                    color: @w;
                    font-size: 1.8em;
                }

                span {
                    margin-top: 1.6em;
                    display: block;
                    color: @w;
                    font-size: .85em;
                }
            }

            &__item {
                display: inline-block;
                height: inherit;
                margin-right: 1px;

                img {
                    height: inherit;
                    width: auto;
                    max-width: none;
                }
            }

            &__overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;

                @media screen {
                    background-color: rgba(0, 0, 0, 0.2);

                    @media (max-width: @mobile-width) {
                        background-color: rgba(0, 0, 0, 0.45);

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            &__navigation {

                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;

                &:hover {
                    cursor: pointer;
                }

                .nav {
                    &__left {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 8em;


                        @media screen {
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
                            background: -moz-linear-gradient(left, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

                            @media (max-width: @mobile-width) {
                                background: none;
                            }
                        }
                    }

                    &__right {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 8em;


                        @media screen {
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
                            background: -moz-linear-gradient(right, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(right, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to left, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

                            @media (max-width: @mobile-width) {
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.gallery {
    &__arrow {
        position: absolute;
        top: 50%;
        margin-top: -2em;

        &-left {
            @media screen {
                left: 2em;

                @media (max-width: @mobile-width) {
                    left: 0;
                    transform: scale(.5,.5);
                }
            }
        }

        &-right {
            @media screen {
                right: 2em;

                @media (max-width: @mobile-width) {
                    right: 0;
                    transform: scale(.5,.5);
                }
            }
        }

        a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
        }

        //a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
        //    border-top: 0.25em solid @p;
        //    border-right: 0.25em solid @p;
        //}

        .left {
            display: inline-block;
            width: 4em;
            height: 4em;
            border: 0.25em solid #ffffff;
            border-radius: 50%;
            margin-right: 1.5em;
        }

        .left:after {
            content: '';
            display: inline-block;
            margin-top: 1.05em;
            margin-left: 1.25em;
            width: 1.4em;
            height: 1.4em;
            border-top: 0.25em solid @w;
            border-right: 0.25em solid @w;
            -moz-transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

        .right {
            display: inline-block;
            width: 4em;
            height: 4em;
            border: 0.25em solid @w;
            border-radius: 50%;
            margin-left: 1.5em;
        }

        .right:after {
            content: '';
            display: inline-block;
            margin-top: 1.05em;
            margin-left: .85em;
            width: 1.4em;
            height: 1.4em;
            border-top: 0.25em solid @w;
            border-right: 0.25em solid @w;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.arrowLeft() {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.25em solid #ffffff;
    border-radius: 50%;
    margin-right: 1.5em;
    @media screen {
        background-color: transparent;

        @media (max-width: @mobile-width) {
            background-color: rgba(0,0,0, 0.25);
            transform: scale(.75,.75);
        }
    }

    &:after {
        content: '';
        display: inline-block;
        margin-top: 1.05em;
        margin-left: 1.25em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.25em solid @w;
        border-right: 0.25em solid @w;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.arrowRight() {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.25em solid @w;
    border-radius: 50%;
    margin-left: 1.5em;
    @media screen {
        background-color: transparent;

        @media (max-width: @mobile-width) {
            background-color: rgba(0,0,0, 0.25);
            transform: scale(.75,.75);
        }
    }

    &:after {
        content: '';
        display: inline-block;
        margin-top: 1.05em;
        margin-left: .85em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.25em solid @w;
        border-right: 0.25em solid @w;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}