.fb__popup {
    position: fixed;
    bottom: 20px;
    right: 50px;
    background-color: @w;
    width: 300px;
    min-height: 195px;
    z-index: 120;

    .shadowed();

    @media screen {
        display: block;

        @media (max-width: @mobile-width) {
            display: none;
        }
    }

    .popup {
        &__main {
            position: relative;
            padding: 1em 1.5em 2em 1.5em;
            background-color: @p;
            color: @w;

            .cross {
                position: absolute;
                top: 0;
                right: 15px;
                opacity: .5;
                font-size: 2em;
                color: @w;

                .no-select();

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }

            strong {
                display: block;
                font-size: 2em;
                margin-bottom: .2em;
            }
        }

        &__action {
            padding: 1.5em;
        }
    }
}

.fb_iframe_widget iframe {
    position: fixed;
    bottom: 0;
    right: 0;
}