.preview {
    width: 100%;
    height: 100%;
    background-size: cover;

    &__mask {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__logo {
        margin: 0 auto;
        text-align: center;
        width: 125px;
        padding: 15px;
        border-bottom: 3px solid @w;

        img {
            width: 48px;
            height: auto;
        }
    }

    &__price {
        color: @w;
        text-align: center;
        font-size: 2.7em;
        padding: .25em 0 .3em 0;

        span {
            font-size: .75em;
        }
    }

    &__heading {
        color: @w;
        text-align: center;
        font-weight: bold;
        font-size: 2.7em;
        padding: 0 1em 0 1em;
    }

    &__type {
        color: @w;
        text-align: center;
        font-size: 1.25em;
        padding: 0 1em 0 1em;
    }

    &__amenities {
        margin: 3em 0 0 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            font-size: 1.5em;
            color: @w;
            display: inline-block;
            margin-right: .05em;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}