/**
 * Search part on main page
 */
.search {
    //background: url("../images/search-bg.jpg");
    margin-top: 80px;

    &__info-holder {
        padding: 12px 10px 10px 10px;
        background-color: @bs;
        border-bottom: 4px solid #d0d0d0 !important;
        -webkit-transform: translate3d(0px,0px,0px);

        .filters {
            font-size: .9em;
            border: 1px solid @p;
            padding: .2em 1em;
            border-radius: 3px;

            &:hover {
                text-decoration: none;
            }
        }

        &.it-fixed {
            position: fixed;
            top: 70px;
            width: 100%;
            z-index: 16;
        }

        &:after {
            clear: both;
            display: table;
            content: '';
        }
    }

    &__info-mobile {
        @media screen {
            display: none;

            @media (max-width: @mobile-width) {
                height: 3.5em;
                display: block;
                background-color: @bs;
            }
        }
    }

    // Style for apartment type
    &__type {
        list-style: none;
        margin: 0;
        padding: 0;

        .search__tick {
            &-holder {
                display: inline-block;
                vertical-align: top;
                width: 19%;

                &:hover {
                    cursor: pointer !important;
                }
            }

            text-align: center;
        }
    }

    &__full_start {
        padding: 1em 0;
        border-top: 1px solid @bs;
        margin-top: 2em;

        .left {
            padding: .5em;
        }
        
        &:after {
            clear: both;
            display: table;
            content: '';
        }

        .btn {
            .no-select();

            &.search-submit-btn {
                opacity: .4;

                &:hover {
                    cursor: default;
                }

                &.active {
                    opacity: 1;
                    background-color: @p;
                    color: @w;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            &.btn-cancel {
                color: @dg;
                border: 1px solid @dg;
                display: none;

                &:hover {
                    cursor: pointer;
                }
            }

            max-width: 7em;
            color: @p;
            padding: .5em .8em;
            border: 1px solid @p;
            display: inline-block;
            margin-right: .5em;

            &:last-child {
                margin-right: 1em;
            }
        }
    }

    @media screen {
        height: 295px;

        //@media (max-width: 40em) {
        //    height: 350px;
        //}
    }

    &__full-form {
        background-color: @w;
        width: 100%;

        @media screen {
            display: block;

            @media (max-width: @mobile-width) {
                display: none;
            }
        }

        .only-full {
            display: none;
        }
    }

    &__layout {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 13;
        background-color: rgba(0, 0, 0, 0.53);
    }

    &__stick {
        background-color: @w;
        position: relative;

        max-height: 100%;
        overflow-x: hidden;

        &.mobile-modal {
            @media screen {
                @media (max-width: @mobile-width) {
                    width: 100% !important;
                    z-index: 100;
                }
            }
        }

        @media screen {
            z-index: 16;
            display: none;

            @media (max-width: @mobile-width) {
                display: none;
            }
        }

        .only-full {
            display: block;
        }

        .show-filters {
            display: none;
        }

        .search__full_start {
            position: fixed;
            background-color: @w;
            bottom: 0;
        }

        .search-fields {
            padding: 1em 2em 10em 2em;
        }
    }

    &-fields {
        padding: 1em 2em 0 2em;
    }

    &__full {
        background-color: #fff;


        ul.search__all_filters {
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block;

            li {
                background-color: @bs;
                display: inline-block;
                margin-right: .2em;
                border-radius: 3px;
                font-size: .8em;
                padding: .2em 0 .2em .5em;

                .cross {
                    padding-left: .5em;
                    margin-right: 0;
                    padding-right: .6em;
                    font-size: 1.1em;
                    line-height: 1.3em;
                    display: inline-block;

                    &::after {
                        color: @m-red;
                        content: "\00d7";
                    }
                }
            }
        }

        div.title {
            @media screen {
                margin: 0;

                @media (max-width: @mobile-width) {
                    margin-bottom: 1em;
                }
            }
        }

        .search__additional {
            display: none;
        }

        .search__show_all {
            padding-left: .5em;

            .show-filters {
                background-color: @p;
                color: @w;
                padding: .2em .65em;
                border-radius: 3px;
            }

            span {
                color: @p;
                font-size: .9em;
                margin-right: .75em;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .search-cancel {
            position: absolute;
            top: 15px;
            right: 15px;
            display: none;

            background-repeat: no-repeat;
            background-position: center;
            width: 15px;
            height: 1.6em;
            opacity: .15;
            background-image: url('../images/cross.png');

            &:hover {
                opacity: .3;
                cursor: pointer;
            }
        }

        .search__rooms {
            padding: .55em;
            border: 1px solid @bs;
            border-radius: 0;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
        }

        .search__show_hidden {
            border-top: 1px solid @bs;
            margin-top: 1em;
            padding-top: .5em;
            font-size: .9em;
            text-align: right;
            color: @g;

            span {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .search__tick {
            display: block;
            margin-bottom: .4em;
            font-size: 14px;
            color: @b;
            
            &-hidden {
                display: none;
            }

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"] + span {
                display:inline-block;
                width:19px;
                height:19px;
                margin:-1px 4px 0 0;
                vertical-align:middle;
                background:url("../images/check_radio_sheet.png") left top no-repeat;
                cursor:pointer;
            }
            input[type="checkbox"]:checked + span {
                background:url("../images/check_radio_sheet.png") -19px top no-repeat;
            }
        }

        .search__block {
            margin-top: 2em;
            padding: 2em 0 1em 0;
            border-top: 1px solid @bs;
        }

        .search-title {
            text-align: center;
            font-size: 1.6em;
            color: @b;
            padding-top: 1em;
        }

        .search__form {

            &.row .columns {
                @media screen {
                    @media (max-width: @tab-width) {
                        width: 100%;
                    }
                }

                &:first-child {
                    @media screen {
                        padding-right: 0;

                        @media (max-width: @tab-width) {
                            padding-right: 1.07143rem;
                        }
                    }
                }
            }

            .search__modal {
                margin-top: 0px;
            }

            margin-top: 0;
            text-align: left;
        }

        .search__input_holder {
            border: 1px solid @bs;
            margin-top: 1.5em;
            position: relative;
            width: 100%;
        }

        .search__input {
            margin: 0;

            &-district, &-price {
                width: 100%;
            }
        }

        .search__modal {
            width: 100%;
        }
    }

    &__fast {
        padding: 0 1em;
    }

    &__modal {
        font-size: 14px;
        text-align: left;
        color: @b;
        position: absolute;
        margin-top: -8px;
        z-index: 98;
        background-color: @w;
        -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.2);
        border-top: 1px solid @bs;
        display: none;

        &-price{
            width: 160px;

            .sp_item_holder {
                padding: .2em .8em ;
            }

            .sp_diapason_holder {
                padding: .8em;
                background-color: @bss;
                text-align: center;

                input[type="text"] {
                    width: 57px;
                    text-align: left;
                    margin: 0;
                    font-size: 14px;
                }
            }

            .sp_item {
                margin: .6em 0;

                &:hover {
                    cursor: pointer;

                    &:before {
                        background-color: @p;
                    }
                }

                &.active {
                    font-weight: bold;

                    &:before {
                        background-color: @p;
                    }
                }

                &:before {
                    background-color: @w;
                    border: 2px solid @p;
                    width: 10px;
                    height: 10px;
                    content: '';
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }

        &-specify{
            width: 363px;

            border-top: 1px solid @bs;

            .sp_item_holder {
                padding: .2em .8em .2em .4em;
                margin-bottom: .5em;
            }

            .sp_item_header {
                margin-top: .75em;
                font-size: 1.1em;
                font-weight: bold;
            }

            .sp_diapason_holder {
                padding: .8em;
                background-color: @bss;
                text-align: center;

                input[type="text"] {
                    width: 57px;
                    text-align: left;
                    margin: 0;
                    font-size: 14px;
                }
            }

            .sp_item {
                margin: .6em 0;

                &:hover {
                    cursor: pointer;

                    &:before {
                        background-color: @p;
                    }
                }

                &.active {
                    font-weight: bold;

                    &:before {
                        background-color: @p;
                    }
                }

                &:before {
                    background-color: @w;
                    border: 2px solid @p;
                    width: 10px;
                    height: 10px;
                    content: '';
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }

        &-location {
            width: 350px;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                &.sl {
                    &__tabs {
                        border-bottom: 1px solid @bs;
                        padding: 0 .1em;
                        display: none;

                        &.active {
                            display: block;
                        }

                        &-small {
                            margin-top: .5em;

                            li {
                                font-size: 14px !important;
                            }
                        }

                        li {
                            display: inline-block;
                            padding: .5em .8em .3em .8em;
                            font-size: 1.1em;
                            cursor: pointer;

                            &.active {
                                font-weight: bold;
                                background-color: @w;
                                border-bottom: 6px solid @bs;
                                cursor: default;
                            }

                        }
                    }

                    &__frames {
                        height: 380px;
                        overflow-y: auto;
                        padding: .5em .8em;

                        li {
                            display: none;

                            &.active {
                                display: list-item;
                            }
                        }
                    }
                }
            }

            .sl {
                &__metro {

                    .slMetroRootBase(@color) {
                        margin-top: .5em;
                        margin-bottom: .25em;
                        font-size: 14px;

                        &:before {
                            background-color: @w;
                            border: 2px solid @color;
                            width: 12px;
                            height: 12px;
                            content: '';
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 6px;
                        }

                        &.active {
                            font-weight: bold;

                            &:before {
                                background-color: @color;
                            }
                        }
                    }

                    .slMetroHolderBase(@color) {
                        margin-left: .75em;
                        border-left: 2px solid @color;
                        margin-bottom: 1.75em;
                        display: none;

                        &.active {
                            display: block;
                        }

                        .sl__metro-child {
                            .slMetroChildBase(@color)
                        }
                    }

                    .slMetroChildBase(@color) {
                        margin-bottom: .25em;
                        margin-left: -.5em;

                        &:hover {
                            cursor: pointer;
                            &:before {
                                background-color: @color;
                            }
                        }

                        &:before {
                            background-color: @w;
                            border: 2px solid @color;
                            width: 12px;
                            height: 12px;
                            content: '';
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 6px;
                        }

                        &.active {
                            font-weight: bold;

                            &:before {
                                background-color: @color;
                            }
                        }
                    }

                    &-root {
                        &-red {.slMetroRootBase(@m-red)}
                        &-green {.slMetroRootBase(@m-green)}
                        &-blue {.slMetroRootBase(@m-blue)}
                    }
                    &_holder {
                        &-red {.slMetroHolderBase(@m-red)}
                        &-green {.slMetroHolderBase(@m-green)}
                        &-blue {.slMetroHolderBase(@m-blue)}
                    }

                    //&-child {
                    //    &-red {.slMetroChildBase(@m-red)}
                    //    &-green {.slMetroChildBase(@m-green)}
                    //    &-blue {.slMetroChildBase(@m-blue)}
                    //}
                }

                &__district {
                    &-holder {
                        margin-left: .5em;
                        display: none;

                        &.active {
                            display: block;
                        }
                    }

                    &-child {
                        margin: .6em 0;

                        &:hover {
                            cursor: pointer;

                            &:before {
                                background-color: @p;
                            }
                        }

                        &.active {
                            font-weight: bold;

                            &:before {
                                background-color: @p;
                            }
                        }

                        &:before {
                            background-color: @w;
                            border: 2px solid @p;
                            width: 10px;
                            height: 10px;
                            content: '';
                            display: inline-block;
                            //border-radius: 50%;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }

    &__input_holder {
        display: inline-block;
        font-size: 14px;

        &-search {
            display: block;
            float: left;
        }
    }

    &__extended_link {
        text-align: center;
        margin-top: 5px;

        & a {
            font-size: .85em !important;
            color: @w !important;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    &__title {
        @media screen {
            font-size: 3.35em;
            color: @w;
            font-weight: bold;
            text-align: center;
            margin-top: 75px;
            margin-bottom: 2px;

            @media (max-width: @tab-width) {
                font-size: 2.9em;
                margin-top: 45px;
                margin-bottom: 15px;
            }

            @media (max-width: @mobile-width) {
                font-size: 2.4em;
                margin-top: 35px;
                margin-bottom: 15px;
            }

            @media (max-width: 20em) {
                font-size: 2.2em;
                margin-top: 35px;
                margin-bottom: 15px;
            }
        }
    }

    &__description {

        @media screen {
            font-size: 1.7em;
            color: @w;
            text-align: center;

            @media (max-width: @mobile-width) {
                font-size: 1.35em;
            }
        }
    }

    &__input {

        .data {
            font-style: normal;
            color: @b;
            width: 100%;
        }

        .placeholder {

            font-style: italic;
            color: @g;

            .no-select();
        }

        @media screen {
            height: 36px;
            margin-right: 8px;
            padding: 7px 10px;
            background-color: @w;
            color: @g;
            text-align: left;
            margin-bottom: 8px;

            @media (max-width: 40em) {
                width: 90%;
                margin-right: 0 !important;
            }
        }

        &-district {

            span {
                line-height: 20px;
                font-style: italic;
            }

            &:hover {
                cursor: text;
            }

            @media screen {
                width: 350px;

                @media (max-width: 40em) {
                    width: 90%;
                    margin-right: 0 !important;
                }
            }
        }

        &-search {
            width: 100%;
        }

        &-price {

            &:hover {
                cursor: text;
            }

            @media screen {
                width: 160px;

                @media (max-width: @mobile-width) {
                    width: 90%;
                    margin-right: 0 !important;
                }
            }
        }

        &-specify {

            &:hover {
                cursor: text;
            }

            @media screen {
                width: 160px;
                margin-right: 15px;

                @media (max-width: @mobile-width) {
                    width: 90%;
                    margin-right: 0 !important;
                }
            }
        }
    }

    &__group {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 18px 18px 0 18px;
        display: inline-block;
    }

    &__form {
        text-align: center;
        margin-top: 75px;
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;

        &:after {
            display: table;
            content: '';
            clear: both;
        }

        input:focus {
            outline: none;
        }

        input {
            margin-bottom: 18px;
            font-size: 14px;
        }

        input[type="submit"] {
            //&:hover {
            //    cursor: pointer;
            //}

            background-color: @p;
            color: @w;
            border: none;
            padding: 10px 70px;
            display: inline-block;
            box-sizing: content-box;
        }
    }

    &__fake {
        &_holder {
            font-size: 14px;
            float: left;
            color: @b;
            display: table;
            width: 100%;
            text-align: left;

            @media screen {
                padding: 0 2em;

                @media (max-width: 20em) {
                    padding: 0;
                }
            }
        }

        &_input {
            background-color: @w;
            padding: .6em .8em;
            text-align: center;
            margin-right: 7em;
            display: table-cell;
        }

        &_button {
            width: 7em;
            padding: .6em .8em;
            text-align: center;
            background-color: @p;
            color: @w;
            display: table-cell;
        }
    }
}

.icon {
    &-blank {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        vertical-align:top;
        text-overflow: ellipsis;
        width: 100%;
        height: 20px;
    }

    &-location {
        background: url("../images/location.png");
        width: 100%;
        height: 20px;
        background-repeat: no-repeat;
        padding-left: 22px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        vertical-align:top;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

    &-price {
        background: url("../images/price.png");
        width: 100%;
        height: 20px;
        background-repeat: no-repeat;
        padding-left: 28px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        vertical-align:top;
        text-overflow: ellipsis;
    }
}