.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-front {
    z-index: 100;
}
.ui-widget-content {
    border: 1px solid @wg;
    font-size: 1em;
    background: @w;
    color: @b;
}
.ui-widget-content a {
    color: @b;

    &:hover {
        text-decoration: none;
    }
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: rgba(71, 130, 250, 0.15);
    font-weight: normal;
    color: #212121;
}

/* icon support */
.ui-menu-icons {
    position: relative;
}
.ui-menu-icons .ui-menu-item {
    padding-left: 2em;
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;

    .ui-menu {
        position: absolute;
    }

    /* left-aligned */
    .ui-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: .2em;
        margin: auto 0;
    }

    /* right-aligned */
    .ui-menu-icon {
        left: auto;
        right: 0;
    }

    .ui-state-focus, .ui-state-active {
        margin: -1px;
    }

    .ui-menu-divider {
        margin: 5px 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-width: 1px 0 0 0;
    }

    .ui-menu-item {
        position: relative;
        margin: 0;
        padding: 6px 1em 6px .4em;
        cursor: pointer;
        min-height: 0; /* support: IE7 */
        /* support: IE10, see #8844 */

        a {
            &.red {
                .uiAutocompleteColored();
            }

            &.green {
                .uiAutocompleteColored();
                background-image: url("../images/station-green.png");
            }

            &.blue {
                .uiAutocompleteColored();
                background-image: url("../images/station-blue.png");
            }
        }
    }
}

.uiAutocompleteColored {
    padding-left: 2em;
    background-image: url("../images/station-red.png");
    background-repeat: no-repeat;
    background-position: left;
}