// $rem-base: 16px;

// Allows the use of rem-calc() or lower-bound() in your settings
@import 'functions';

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 100%;

// The $base-font-size is 100% while $base-line-height is 150%
$base-line-height: 150%;

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
$include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

 $include-html-grid-classes: $include-html-classes;
 $include-xl-html-grid-classes: false;

 $row-width: rem-calc(1280);
 $total-columns: 12;
 $column-gutter: rem-calc(30);

// We use these to define default font stacks
 $font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 $font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
 $font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
 $font-weight-normal: normal;
 $font-weight-bold: bold;

 $white       : #fff;
 $ghost       : #FAFAFA;
 $snow        : #F9F9F9;
 $vapor       : #F6F6F6;
 $white-smoke : #F5F5F5;
 $silver      : #EFEFEF;
 $smoke       : #EEEEEE;
 $gainsboro   : #DDDDDD;
 $iron        : #CCCCCC;
 $base        : #AAAAAA;
 $aluminum    : #999999;
 $jumbo       : #888888;
 $monsoon     : #777777;
 $steel       : #666666;
 $charcoal    : #555555;
 $tuatara     : #444444;
 $oil         : #333333;
 $jet         : #222222;
 $black       : #000000;

// We use these as default colors throughout
 $primary-color: #008CBA;
 $secondary-color: #e7e7e7;
 $alert-color: #f04124;
 $success-color: #43AC6A;
 $warning-color: #f08a24;
 $info-color: #a0d3e8;

// We use these to control various global styles
 $body-bg: $white;
 $body-font-color: $jet;
 $body-font-family: $font-family-sans-serif;
 $body-font-weight: $font-weight-normal;
 $body-font-style: normal;

// We use this to control font-smoothing
 $font-smoothing: antialiased;

// We use these to control text direction settings
 $text-direction: ltr;
 $opposite-direction: right;
 $default-float: left;
 $last-child-float: $opposite-direction;

// We use these to make sure border radius matches unless we want it different.
 $global-radius: 3px;
 $global-rounded: 1000px;

// We use these to control inset shadow shiny edges and depressions.
 $shiny-edge-size: 0 1px 0;
 $shiny-edge-color: rgba($white, .5);
 $shiny-edge-active-color: rgba($black, .2);