.blog {
    font-family: 'Lora', serif;
    font-size: 1.35em;
    line-height: 1.75em;
    color: #3f3f3f;
    margin-bottom: 5em;

    p {
        margin-bottom: 1em;
    }

    blockquote {
        border-left: 4px solid #3f3f3f;
        margin-left: 0;
        color: #737373;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left: 1.2em;
        font-style: italic;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 1.5em;
        line-height: 1.5em;
        margin-top: 1em;
    }
    
    &__header {
        background-image: url("https://i.onthe.io/smngoz2krk2v93704g.25a60c8c.jpg");
        margin-bottom: 4em;
        background-position: center;
        background-size: cover;


        @media screen {
            height: 440px;

            @media (max-width: @mobile-width) {
                height: 380px;
            }
        }
    }

    &__mask {
        background-color: rgba(0, 0, 0, 0.3);
        height: inherit;

        .blog__head {
            color: @w;
            text-align: center;
            display: block;
            font-weight: bold;

            @media screen {
                font-size: 3em;
                padding-top: 3.5em;

                @media (max-width: @mobile-width) {
                    font-size: 2em;
                    padding-top: 4.5em;
                }
            }
        }
    }

    .item {
        margin-bottom: 2em;
        border-bottom: 1px solid @bs;

        &:last-child {
            border-bottom: none;
        }

        &__header {
            color: @b;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            line-height: 1.4em;
            display: block;
            margin-bottom: 1em;

            @media screen {
                font-size: 1.65em;

                @media (max-width: @mobile-width) {
                    font-size: 1.35em;
                }
            }

            &:hover {
                text-decoration: none;
            }
        }

        &__content {
            margin-bottom: 1em;
        }

        &__date {
            font-family: 'Open Sans', sans-serif;
            color: @g;
            margin-bottom: 3em;
            font-size: 14px;
        }
    }
}

.post {
    &__header {
        text-align: center;
        background-color: #588AEF;
        color: @w;
        margin-bottom: 3em;

        @media screen {
            padding: 6em 0 6em 0;

            @media (max-width: @mobile-width) {
                padding: 3em 0 3em 0;
            }
        }

        h1 {
            margin-top: .5em;
            color: @w;
            font-size: 2.2em;

            @media screen {
                font-size: 2.2em;

                @media (max-width: @mobile-width) {
                    font-size: 1.75em;
                }
            }
        }
    }

    &__link a {
        font-family: 'Open Sans', sans-serif;
        color: @w;
        font-size: .8em;
        padding: .3em .6em;
        border: 1px solid @w;
        opacity: .75;

        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }
}

.social {
    &__share {

        margin: 3.5em 0 2em 0;
        text-align: center;

        &-top {
            margin: 0 0 2em 0;
        }

        .share {
            font-family: 'Open Sans', sans-serif;
            color: @w;
            border-radius: 4px;
            padding: .7em 1em;
            margin-bottom: .2em;
            opacity: .9;
            font-size: 14px;
            text-align: center;
            display: inline-block;


            @media screen {
                margin-right: .75em;

                @media (max-width: @mobile-width) {
                    margin-right: 0;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                text-decoration: none;
                opacity: 1;
            }

            &-vk {
                background-color: @vk;
            }

            &-placely {
                background-color: @p;
            }

            &-facebook {
                background-color: @fb;
            }
        }
    }

    &__like {

        .shadowed();
        font-family: 'Open Sans', sans-serif;
        margin-top: 4em;

        .like {
            &__head {
                background-color: @p;
                color: @w;
                font-weight: bold;
                font-size: 1.25em;
                padding: 2em;
                line-height: 1.5em;
            }

            &__action {
                padding: 2em;
                border-bottom: 1px solid @bs;
                border-left: 1px solid @bs;
                border-right: 1px solid @bs;

                .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
                    width: 100% !important;
                }
            }
        }
    }

    &__comments {
        margin-top: 4em;
    }

    &__block {
        margin-top: 4em;
        border-top: 1px solid @bs;
    }
}