/*
 * Styles for not found page
 */
.nf {
    &__row {
        text-align: center;
        margin-top: 4em;
    }

    &__status {
        font-size: 5em;
        color: @ddg;
    }

    &__info {
        margin-bottom: 8em;
    }

    &__data {
        text-align: left;

        .data {
            &__title {
                font-size: 1.5em;
                margin-bottom: .75em;
                text-align: center;
            }

            &__notices {
                background-color: @bs;
                padding: 5px;
                margin: 0 auto 2em auto;

                @media screen {
                    width: 75%;

                    @media (max-width: @tab-width) {
                        width: 100%;
                    }
                }

                .feed__item {
                    &:last-child {
                        padding-right: 0;
                    }

                    @media screen {
                        width: 33.33333%;

                        @media (max-width: @mobile-width) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}