#new-map-canvas {
    margin-top: 30px;
}

#metro {
    min-width: 220px;
}

#street {
    min-width: 270px;
}

#house {
    width: 140px !important;
}

.basePlaceholder{
    color: @lg;
    font-style: italic;
    font-size: 14px;
}

::-webkit-input-placeholder { .basePlaceholder() }

.baseInput {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid @dg;
    margin-top: 10px;
    border-radius: 0;
    font-size: 14px;

    &:focus {
        border-bottom: 1px solid @p;
        outline: none;
    }
}
.bigList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bigListItem {
    padding: 1em 1.2em;
    border: 1px solid @bs;
    display: inline-block;
    margin-right: 1em;
    margin-top: 1em;

    div.txt {
        margin-right: 2em;
        float: left;

        span {
            color: @g;
            font-style: italic;
        }
    }

    .cross {
        .abstractIcon();
        background-image: url("../images/cross.png");
    }

    .timer {
        .abstractIcon();
        background-image: url("../images/timer.png");
        width: 19px;
        margin-right: 10px;
    }

    &.red {
        .abstractStation();
    }

    &.green {
        .abstractStation();
        background-image: url("../images/station-green.png");
    }

    &.blue {
        .abstractStation();
        background-image: url("../images/station-blue.png");
    }

    .abstractStation {
        padding-left: 1em;
        background-image: url("../images/station-red.png");
        background-repeat: no-repeat;
        background-position: left;
        background-origin: content-box;

        .txt {
            margin-left: 36px;
        }
    }

    .abstractIcon {
        float: left;
        background-repeat: no-repeat;
        background-position: center;
        width: 15px;
        height: 1.6em;
        opacity: .15;

        &:hover {
            opacity: .4;
            cursor: pointer;
        }
    }
}

.form {
    &__content {

        @media screen {
            max-width: 52.5rem;
            width: 90%;

            @media (max-width: 40em) {
                width: 90%;
            }
        }
    }
    &__submit {
        text-align: center;
    }
    
    // blocks
    &__head {
        background-image: url("../images/new-bg.jpg");
        color: @w;
        text-align: center;
        margin-bottom: 50px;

        @media screen {
            height: 311px;

            @media (max-width: 40em) {
                height: 295px;
            }
        }
    }

    &__title {
        @media screen {
            font-size: 2.2em;
            margin-top: 80px;

            @media (max-width: 40em) {
                font-size: 1.8em;
                margin-top: 50px;
            }
        }
    }

    &__select_holder {
        @media screen {
            margin-top: 3.1em;

            @media (max-width: 40em) {
                margin-top: 1.4em;
            }
        }
    }

    &__select_item {
        color: @w;
        display: inline-block;
        border: 1px solid @w;
        border-radius: 3px;
        text-align: center;
        padding: 1em 1.5em;
        margin-right: 2em;

        &:hover {
            background-color: @p;
            border: 1px solid @p;
            color: @w;
            cursor: pointer;
        }

        &.active {
            background-color: @p;
            border: 1px solid @p;
            color: @w;
            cursor: pointer;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__highlights {
        margin-bottom: 2.5em;

        .highlights {

            &__list {
                .bigList();

                li {
                    .bigListItem();

                    i {
                        margin-right: 8px;
                    }

                    span {
                        font-size: 1em !important;
                        color: @b !important;
                        font-style: normal !important;
                    }

                    .cross {
                        height: 2em;
                    }
                }
            }
        }
    }

    &__metro_stations {
        margin-bottom: 2.5em;

        .metro {
            &__list {
                .bigList();

                li {
                    .bigListItem();
                }
            }
        }
    }

    &__photos {
        margin-bottom: 2.5em;
    }

    &__districts {
        margin-bottom: 2.5em;

        .districts {
            &__list {
                .bigList();

                li {
                    .bigListItem();
                }
            }
        }
    }
}

.fields {
    &__row {
        text-align: center;
        margin-bottom: 1em;

        &.nbm {
            margin-bottom: 0 !important;
        }

        input {
            .baseInput();
        }
        select {
            .baseInput();
            max-width: 249px;
            color: @g;
            font-style: italic;
            margin-bottom: 20px;
            background-color: @w !important;

            option, optgroup {
                color: @b;
                font-style: normal;
            }
        }
        textarea {
            .baseInput();
            font-family: 'Open Sans', sans-serif;
            border: 1px solid @lg;
            width: 100%;
            resize: none;
            margin-top: 3em;

            &:focus {
                border: 1px solid @p;
                outline: none;
            }
        }
    }

    &__title {
        @media screen {
            font-size: 2.1em;
            margin: 20px auto 30px auto;
            text-align: center;

            @media (max-width: 40em) {
                font-size: 1.8em;
                margin: 20px auto;
            }
        }
    }

    &__validation_error {
        opacity: 0;
        text-align: center;
        margin-top: -3em;
        margin-bottom: 1.5em;
        color: #FF4B4B;

        &-photo {
            pointer-events: none;
            opacity: 0;
            text-align: center;
            margin-bottom: .5em;
            color: #FF4B4B;
            margin-top: 0;
        };

        &-metro {
            //display: none;
            opacity: 0;
            text-align: center;
            margin-bottom: .2em;
            color: #FF4B4B;
            margin-top: .5em;
        }
    }

    &-error {
        input {
            border-bottom-color: #ff5f5f;
        }
    }

    &__description {
        color: @ggd;

        @media screen {
            margin: 30px auto 25px auto;
            text-align: center;

            @media (max-width: 40em) {
                margin: 20px auto;
            }
        }
    }

}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#correct-map {
    text-align: center;
    margin-bottom: 3em;

    span {
        color: @ggd;
        font-size: 0.86em;
        text-decoration: underline;

        &:hover {
            color: @p;
            cursor: pointer;
        }
    }
}

.photo {
    &__holder {
        padding: 5em;
        text-align: center;
        color: @lg;
        border: 3px solid @bs;
        cursor: pointer;
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 1em;
            position: relative;

            &.mainPreview {
                img {
                    border: 5px @p solid;
                }
            }

            .mainStatus {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                color: @w;
                font-size: .8em;
                padding: 5px;
                display: none;

                &:hover {
                    cursor: default;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &::before {
                background: #000;
                opacity: 0;
                width: 95px;
                height: 95px;
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
            }

            img {
                height: 95px;
                width: 95px;
            }

            .cross {
                position: absolute;
                background: url("../images/light_cross.png") no-repeat right top;
                width: 15px;
                height: 15px;
                top: 7px;
                right: 7px;
                background-origin: content-box;
                opacity: .4;
                display: none;

                &:hover {
                    opacity: .7;
                    cursor: pointer;
                }
            }

            &:hover {
                .cross {
                    display: block;
                }
                .mainStatus {
                    display: block;
                }
                &::before {
                    opacity: .4;
                }
            }

            &.loading {
                .cross {
                    display: none;
                }
                .mainStatus {
                    display: none;
                }
                .progress {
                    position: absolute;
                    width: 95px;
                    height: 95px;
                    background: rgba(255, 255, 255, 0.4);
                }
                .progress-bar {
                    background-color: #fff;
                    width: 60px;
                    height: 9px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -30px;
                    margin-top: -5px;

                    span {
                        background-color: #2a87de;
                        display: block;
                        height: 9px;
                        content: '';
                    }
                }
                &::before {
                    display: none;
                }
            }
        }
    }
}

.modal {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    &__holder {
        background-color: #fff;
        position: absolute;
        display: none;

        @media screen {
            left: 50%;
            top: 50%;

            @media (max-width: 40em) {
                top: 0;
                left: 0;
            }
        }
        
        -webkit-box-shadow: 0px 0px 132px 0px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px 0px 132px 0px rgba(0,0,0,0.47);
        box-shadow: 0px 0px 132px 0px rgba(0,0,0,0.47);
    }

    &__map {
        @media screen {
            width: 740px;
            margin-left: -370px;
            margin-top: -280px;

            @media (max-width: 40em) {
                position: fixed;
                top: 0;
                width: 100%;
                margin: 0;
            }
        }
    }

    &__station {
        @media screen {
            width: 400px;
            margin-left: -200px;
            margin-top: -280px;

            @media (max-width: 40em) {
                position: fixed;
                top: 0;
                width: 100%;
                margin: 0;
            }
        }
    }

    &__am {
        @media screen {
            width: 740px;
            margin-left: -370px;
            margin-top: -300px;

            @media (max-width: 40em) {
                position: fixed;
                top: 0;
                width: 100%;
                margin: 0;
            }
        }

        .am {

            &__selected {
                padding-left: .5em;
                padding-right: .5em;
                height: 420px;
                overflow-y: auto;
                overflow-x: hidden;

                .am__item {
                    width: 100%;
                }
            }

            &__all {
                overflow-y: auto;
                height: 420px;
                overflow-x: hidden;

                .am__item {
                    &:hover {
                        cursor: pointer;
                        background-color: #c3d4ee;
                    }

                    &.active {
                        background-color: @p;
                        border: 1px solid @p;

                        div.txt {
                            i {
                                color: @w;
                            }
                            span {
                                color: @w;
                            }
                        }
                    }

                    div.txt {
                        margin-right: .7em;
                    }
                }
            }

            &__item {
                padding: .5em .8em;
                border: 1px solid #c3d4ee;
                display: inline-block;
                margin-right: .35em;
                margin-top: .35em;

                div.txt {
                    margin-right: 2em;
                    float: left;

                    i {
                        line-height: 2.35em;
                        margin-right: .8em;
                        color: @gd;
                    }
                    span {
                        line-height: 2em;
                    }
                }

                .cross {
                    float: right;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 15px;
                    height: 2.3em;
                    opacity: .15;

                    &:hover {
                        opacity: .4;
                        cursor: pointer;
                    }
                    background-image: url("../images/cross.png");
                }
            }
        }

        .row {
            .columns {

                &:first-child {
                    border-right: 1px solid @bs;
                }

                padding-top: .8em;
                padding-bottom: 1em;
            }
        }

        .col {
            &__title {
                text-align: center;
                margin-bottom: .75em;
            }
        }
    }

    &__auth {
        @media screen {
            width: 400px;
            margin-left: -200px;
            margin-top: -280px;

            @media (max-width: 40em) {
                position: fixed;
                top: 0;
                width: 100%;
                margin: 0;
            }
        }

        .modal__head {
            padding: 1.2em;
        }

        .auth__modal_description {
            margin: 1.75em 1.5em 0 1.5em;
            text-align: center;
        }

        .modal__footer {
            border-top: none;
            padding: 2.4em 0;
        }
    }


    &__confirm {
        @media screen {
            width: 400px;
            margin-left: -200px;
            margin-top: -280px;

            @media (max-width: 40em) {
                position: fixed;
                top: 0;
                width: 100%;
                margin: 0;
            }
        }

        .modal__head {
            padding: 1.2em;
        }

        .confirm__modal_description {
            margin: 1.75em 1.5em 1.75em 1.5em;
            text-align: center;
        }

        .modal__footer {
            border-top: none;
            padding: 0 0 1em 0;
        }
    }

    &__search {
        @media screen {
            width: 200px;
            margin-left: -200px;
            margin-top: -280px;

            @media (max-width: @mobile-width) {
                overflow: hidden;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }

        .search__input_holder {
            width: 100%;
            border: 1px solid @bs;
            margin-top: 1.5em;
            position: relative;

            .search__modal {
                margin-top: 0;
                width: 100%;
            }

            .search__input {
                width: 100%;
                margin-bottom: 0;
            }
        }

        .modal__body {
            padding: 1em;
        }

        .modal__head {
            padding: 1.2em;
        }
        .modal__footer {
            border-top: none;
            padding: 2.4em 0;
        }
    }

    &__head {
        padding: 1.5em 1.8em;
        border-bottom: 1px solid @bs;
        color: @b;

        .cross {
            float: right;
            background-repeat: no-repeat;
            background-position: center;
            width: 15px;
            height: 1.6em;
            opacity: .15;
            background-image: url("../images/cross.png");

            &:hover {
                opacity: .4;
                cursor: pointer;
            }
        }
    }

    &__footer {
        padding: 1.5em 1.8em;
        border-top: 1px solid @bs;
        color: @b;
        text-align: center;

        &-borderless {
            padding: 1.5em 1.8em;
            color: @b;
            text-align: center;
        }
    }

    label {
        span {
            display: inline-block;
            width: 100px;
            margin-right: 2em;
            text-align: right;
        }
        input {
            width: 150px;
        }

        &:after {
            display: block;
            clear: both;
            content: '';
        }
    }
}
.am__select {
    text-decoration: underline;
    display: inline;

    &:hover {
        cursor: pointer;
    }
}

#map-modal {
    @media screen {
        height: 420px;

        @media (max-width: 40em) {
            height: 320px;
        }
    }
}

#new-map-canvas {
    width: 100%;
    height: 350px;
}