.menu-opened {
    @media screen {

        @media (max-width: @mobile-width) {
            overflow: hidden;
        }
    }
}
body.menu-opened {
    @media screen {

        @media (max-width: @mobile-width) {
            position: fixed;
            width: 100vw;
            -webkit-text-size-adjust: none;
        }
    }
}

.fixed {

    @media screen {

        @media (max-width: @mobile-width) {
            z-index: 99;
        }
    }
}
.mobile-collapsed {
    @media screen {

        @media (max-width: @mobile-width) {
            display: none;
        }
    }
}


.tab-collapsed {
    @media screen {

        @media (max-width: @tab-width) {
            display: none;
        }
    }
}

.mobile-only {
    @media screen {
        display: none;

        @media (max-width: @mobile-width) {
            display: inherit;
        }
    }
}

.resp-menu {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 72px;
    background-color: rgba(255, 255, 255, .7);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 90;

    &.active {
        display: block;
    }

    &-holder {
        overflow-y: auto;
        background-color: @w;
        width: calc(100% - 20em);
        height: 100%;
        padding-top: 1.2em;
        -webkit-box-shadow: -1px 0px 86px 10px rgba(0,0,0,0.51);
        -moz-box-shadow: -1px 0px 86px 10px rgba(0,0,0,0.51);
        box-shadow: -1px 0px 86px 10px rgba(0,0,0,0.51);

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {

                &.auth__resp {
                    padding: 0 .7em 1em .7em;

                    .auth__resp_holder {
                        border-bottom: 1px solid @bs;
                        padding: .5em 1em 1.5em 1em;

                        .btn__resp_notice-add {
                            display: block;
                            border: 1px solid @p;
                            padding: .4em;
                            text-align: center;
                            color: @p;

                            &:hover {
                                background-color: @p;
                                color: @w;
                            }
                        }
                    }
                }

                a {
                    padding: .4em 1.1em;

                    font-size: 1.2em;
                    color: @b;
                    display: block;

                    .l {
                        float: left;
                    }

                    .rc {
                        float: right;
                        font-size: .8em;
                        padding: .1em .55em;
                        margin-top: .1em;
                        color: @w;
                        background-color: @p;
                        border-radius: 100px;
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: rgba(71, 130, 250, 0.15);
                    }
                }
            }
        }
    }


}