.current_state {
    font-style: italic;
    color: @dg;
    margin-bottom: .75em;
    padding: 1em;
    text-align: center;
}

.sug {
    &__row {
        text-align: center;
        margin-top: 4em;
    }

    &__holder {
        background-color: @bs;
        padding: 1em 0;
    }

    &__status {
        font-size: 5em;
        color: @ddg;
    }

    &__info {
        margin-bottom: 8em;
    }

    &__data {
        text-align: left;

        .data {
            &__title {
                font-size: 1.75em;
                margin-top: 1.5em;
                margin-bottom: 1.25em;
                text-align: center;
            }

            &__notices {
                background-color: @bs;
                padding: 5px;
                margin: 0 auto 2em auto;

                @media screen {
                    width: 100%;

                    @media (max-width: @tab-width) {
                        width: 100%;
                    }
                }

                .feed__item {
                    &:last-child {
                        padding-right: 0;
                    }

                    @media screen {
                        width: 50%;

                        @media (max-width: @mobile-width) {
                            width: 100%;
                        }
                    }
                }

                &-3 {
                    .feed__item {

                        &:last-child {
                            padding-right: 0;
                        }

                        @media screen {
                            width: 25%;

                            @media (max-width: @tab-width) {
                                width: 50%;
                            }

                            @media (max-width: 30em) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.notice {
    &__statistic {
        margin: 1em;

        .object__booked {
            color: @p;
            padding: .5em;
            text-align: center;
            border: 1px solid @p;
            margin: 0 .5em .5em .5em;

            &:hover {
                background-color: @p;
                color: @w;
                cursor: pointer;
            }
        }

        .description {
            text-align: center;
            font-size: .9em;
            margin: 0;
        }
    }

    &__views {
        &:after {
            clear: both;
            display: table;
            content: '';
        }

        .view__stat {
            width: 50%;
            float: left;
            text-align: center;
            margin-bottom: .75em;
            padding: 0 1em 1em 1em;

            .stat {
                &__value {
                    font-size: 1.5em;
                    color: @ddg;
                }

                &__title {
                    font-size: .9em;

                }
            }
        }
    }
}

.data-stored {
    text-align: center;
    margin-bottom: 1em;
    margin-top: -1em;
    opacity: 1;
    color: @m-green;
}

.person {
    &__holder {
        text-align: center;
        display: block;
        color: @b;
        margin-bottom: 1.5em;
        margin-top: .5em;
    }

    &__social {
        font-size: .9em;
        color: @g;
    }

    &__avatar {
        width: 7em;
        height: 7em;
        border-radius: 1000px;
        overflow: hidden;
        margin: 0 auto;
        border: 5px solid @w;
    }

    &__name {
        margin: .5em auto;
        font-size: 1.1em;
    }

    &__sn {
        font-size: .9em;
    }
}

.top {
    .row .row {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.contact {
    background-color: @w;
    margin-top: 2em;
    width: 100%;

    &-box {
        border: 1px solid @bs;
    }

    &-to_gallery {
        margin-top: -72px;
    }

    .add__contacts {
        font-size: .85em;
        padding: 1em;
        margin: -2.5em 1em 1em 1em;
        text-align: center;

        .contacts__link {
            font-size: 1.2em;
        }
    }

    &__wrapper {
        height: 100%;
    }

    &__info-holder {
        padding: 12px 10px 10px 10px;
        background-color: @w;
        border-bottom: 4px solid @bs !important;
        -webkit-transform: translate3d(0px,0px,0px);

        .details {
            font-size: .9em;
            border: 1px solid @p;
            padding: .2em 1em;
            border-radius: 3px;

            &:hover {
                text-decoration: none;
            }
        }

        &.it-fixed {
            position: fixed;
            top: 70px;
            width: 100%;
            z-index: 16;
        }

        &:after {
            clear: both;
            display: table;
            content: '';
        }
    }

    &__info-mobile {
        @media screen {
            display: none;

            @media (max-width: @mobile-width) {
                position: fixed;
                display: block;
                padding: 15px;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                -webkit-transform: translate3d(0px,0px,0px);

                span.details {
                    display: block;
                    padding: 10px;
                    text-align: center;
                    background-color: @p;
                    color: @w;
                    .shadowed();

                    &.loading {
                        background-color: #81A9FB;
                        color: #E4EDFF;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &-modal {

        @media screen {
            @media (max-width: @mobile-width) {
                display: block !important;
                position: fixed;
                top: 0 !important;
                height: 100%;
                margin-top: 0;
                left: 0;
                width: 100% !important;
                z-index: 100 !important;

                .cross {
                    background-image: url("../images/cross.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 15px;
                    height: 1.6em;
                    opacity: .15;

                    position: absolute;
                    top: 10px;
                    right: 10px;

                    &:hover {
                        opacity: .4;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media screen {
        display: block;

        @media (max-width: @mobile-width) {
            display: none;
        }
    }

    &-sticked {
        position: fixed;
        width: inherit;
        z-index: 12;
    }

    &__show {
        background-color: @p;
        color: @w;
        padding: .5em;
        text-align: center;
        border: 1px solid @p;
        margin: .5em 1.5em 1.5em 1.5em;

        &:hover {
            background-color: @p;
            color: @w;
            cursor: pointer;
        }
    }

    &__list {
        width: 100%;
        margin-top: 1.25em;
        padding: 1em 2.5em;

        .item {
            margin-bottom: .5em;

            &:after {
                display: table;
                clear: both;
                content: '';
            }

            div {
                float: left;
            }

            .title {
                width: 40%;
            }

            .value {
                width: 60%;
                color: @b;

                &-hidden {
                    color: @g;
                }
            }
        }
    }

    &__title {
        text-align: center;
        padding: .5em 0 .5em 0;
        font-size: 2em;
        border-bottom: 1px solid @bs;

        span {
            color: @gd;

            &.small {
                font-size: .75em;
            }
        }
    }

    &__status {
        text-align: center;
        margin: .75em 0;
        font-weight: bold;
    }
}
.small_price {
    display: inline-block;
    margin-left: 55px;
}
.small_avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 40px;
    position: absolute;
    top: 5px;
    left: 10px;

    &-after {
        display: block;
        position: absolute;
        content: '';
        z-index: -1;
        top: 0;
        left: 5px;
        width: 55px;
        border-radius: 40px;
        height: 55px;
        background-color: @bs;

        &:before {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 55px;
            height: 43px;
            background-color: @w;
        }
    }

    img {
        width: 45px;
        height: 45px;
    }
}
.notice {
    @media screen {
        max-width: 55rem !important;
        width: 90% !important;

        @media (max-width: 40em) {
            width: 90% !important;
        }
    }

    &__title {
        text-align: center;
        font-size: 1.5em;

        margin-top: 1.4em !important;
        margin-bottom: 1.2em !important;
    }
    &__date {
        text-align: center;
        color: @dg;
        margin-bottom: 1.4em !important;
    }
    &__details {
        text-align: center;
        font-size: 1.15em;
        margin-bottom: 1.5em !important;
    }
    &__text {
        line-height: 1.8em;
        margin-bottom: 1em !important;

        .textBreak();
    }

    &__stations {
        text-align: center;
        margin: 2em auto 1em auto !important;
    }

    &__station {
        width: 15em;
        margin-right: 5px;
        margin-bottom: 2em;
        display: inline-block;
        vertical-align: top;
    }

    &__highlights {

        .highlights {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;
                //float: left;
                vertical-align: top;
                margin: 0 auto 2em auto;


                @media screen {
                    width: 32%;

                    @media (max-width: @mobile-width) {
                        width: 49%;
                        padding: 0 1em;
                    }
                }

                i {
                    font-size: 1.1em;
                    display: block;
                }
            }

            &__title{
                margin-top: 4em;
                margin-bottom: 2.5em;
                text-align: center;
                font-size: 1.4em;
                color: @lb;
            }

            &__list {
                margin-top: 1.5em;
                margin-bottom: 3.5em;
            }
        }
    }

    &__photos {
        margin-top: 1.5em !important;

        .photos {
            display: table;
            position: relative;

            &__current {
                @media screen {
                    width: 80%;
                    float: left;
                    height: 440px;
                    padding: 0 10px;
                    overflow: hidden;
                    display: flex;

                    @media (max-width: 40em) {
                        width: 100%;
                        height: 340px;
                        padding: 0;
                        align-items: center;
                    }
                }

                background-color: #e8effc;

                img {
                    max-height: 100%;
                    margin: auto auto;
                }
            }

            &__nav {
                @media screen {
                    width: 15%;
                    float: left;
                    overflow-y: hidden;
                    height: 440px;

                    @media (max-width: 40em) {
                        margin-top: 1em;
                        width: 100%;
                        height: 11em;
                    }
                }

                position: relative;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0 10px;

                    @media screen {
                        @media (max-width: 40em) {
                            width: 150em;
                            overflow-x: hidden;
                        }
                    }
                }

                li {
                    margin-bottom: 5px;
                    border: 5px solid @w;
                    width: 80px;
                    height: 80px;

                    img{
                        width: 80px;
                        height: 70px;
                    }

                    @media screen {

                        @media (max-width: 40em) {
                            display: inline-block;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        box-sizing:border-box;
                        -moz-box-sizing:border-box;
                        -webkit-box-sizing:border-box;
                        cursor: default;
                        border: 5px solid @p;
                    }
                }
            }
        }
    }
}

.info {
    &__row {
        text-align: center;
        padding-bottom: 2em;

        &-incognito {
            text-align: center;
            padding-top: .5em;
            padding-bottom: 1em;
            background-image: url("../images/incognito.png");
            background-repeat: no-repeat;
            background-position: left bottom;

            @media screen {
                max-width: 55rem;
                width: 90%;

                @media (max-width: 40em) {
                    width: 90%;
                }
            }
        }
    }

    &__lead {
        font-size: 1.2em;
        color: @gd;
    }

    &__desc {
        font-size: .85em;
        color: @dg;
    }

    &__buttons {
        margin-top: 1em;
        margin-bottom: .5em;
    }
}

#new-map-canvas {
    width: 100%;
    height: 350px;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 1.5em;
}