@import "base/base";
@import "base/mixins";
@import "base/icons";

@import "elements/search";
@import "elements/map";
@import "elements/ui";
@import "elements/floating";
@import "elements/card-feed";
@import "elements/editor";
@import "elements/preview";
@import "elements/bigheader";
@import "elements/popup";
@import "elements/photo-list";

@import "pages/one";
@import "pages/form";
@import "pages/index";
@import "pages/error";
@import "pages/blog";

@import "plugins/fancybox";

header {

    .sn_links a {
        font-size: .8em;
        opacity: .75;

        &:hover {
            opacity: 1;
        }

        i.icon-vkontakte {
            color: @vk;
        }

        i.icon-facebook-official {
            color: @fb;
        }
    }

    &.transparent {
        background-color: transparent;
        border-bottom: none;
        color: @w;

        .btn__notice-add {
            a {
                border-color: @w;

                &:hover {
                    border-color: @p;
                    color: @w !important;
                }
            }
        }

        a {
            color: @w !important;

            i {
                color: @w !important;
            }

            &:hover {
                color: @pl !important;
            }
        }
    }

    @media screen {
        border-bottom: 1px solid @bs;
        padding: 10px 0;
        background-color: @w;

        @media (max-width: @mobile-width) {
            padding: 0;
        }
    }

    &.overmap {
        padding: 0;
    }
}

footer {
    background-color: #394356;
    padding: 10px 0 50px 0;
    color: #79849a;
    z-index: 999;
}
.transparent .logo {
    background: url("../images/logo.png");
    width: 150px;
    height: 52px;
    margin-bottom: 3px;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    background: url("../images/logon2.png");
    width: 150px;
    height: 52px;
    margin-bottom: 3px;
    background-position: center;
    background-repeat: no-repeat;

    &__holder {
        padding: 8px;

        nav {
            ul {
                list-style: none;
                margin: 0 0 0 0px;
                padding: 17px 0 0 0;
                
                li {
                    display: inline-block;
                    margin-right: 20px;
                    
                    a {
                        .clean-a();

                        &:hover {
                            color: @p;
                        }
                    }
                }
            }
        }
    }
}

.btn {
    &-confirm {
        display: inline-block;
        .btnSocialBig(@p);
    }
    &-no {
        display: inline-block;
        .btnSocialBig(@dg);
    }

    &__notice {
        &-add {
            a {
                .clean-a();

                color: @p;
                display: block;
                border: 1px solid @p;
                border-radius: 3px;
                text-align: center;
                padding: 6px;

                @media screen {
                    width: 200px;

                    @media (max-width: 40em) {
                        width: 155px;
                    }
                }

                &:hover {
                    background-color: @p;
                    color: @w;
                }
            }
        }
    }

    &__fine {
        border: 1px solid @p;
        color: @p;
        background-color: #fff;
        padding: .8em 1.3em;
        font-size: 1em;
    }


    &__submit {
        &-notice {
            border: 2px solid @p;
            color: #2a87de;
            background-color: #fff;
            font-size: 2.05em;
            margin: 4.25em auto 3.25em auto;

            @media screen {
                padding: .5em 3em;

                @media (max-width: @mobile-width) {
                    padding: .5em;
                    width: 100%;
                }
            }
        }
    }

    &__social {
        &-vk {
            .btnSocial(#4c75a3);

            &-big {
                .btnSocialBig(#4c75a3);
            }
        }

        &-fb {
            .btnSocial(#3b5998);

            &-big {
                .btnSocialBig(#3b5998);
            }
        }
    }

    &__logout {
        background-image: url("../images/logout.png");
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }
}

.btnSocial(@color) {
    border-radius: 3px;
    border: 1px solid @color;
    color: @color;
    padding: 3px 10px;
    margin-right: .5em;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: @color;
    }
}

.btnSocialBig(@color) {
    border: 1px solid @color;
    color: @color;
    padding: .6em 1.1em;
    margin-right: .5em;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background-color: @color;
    }
}

.auth {
    /* if user don't authorized */
    &__empty {
        padding-top: 18px;

        .nav__notifications {
            padding-top: 9px;
        }
    }
    &__holder {
        padding-top: 5px;

        @media screen {
            float: right;

            @media (max-width: @mobile-width) {
                float: none;
                margin-bottom: 1em;
            }
        }
    }

    &__body {

        @media screen {
            float: left;
            padding-left: 1em;

            @media (max-width: @mobile-width) {
                padding-left: 0;
            }
        }

        &:after {
            display: block;
            content: '';
            clear: both;
        }

        .btn__notice-add a {
            padding: 3px 10px !important;
            display: block;
            width: auto !important;
        }
    }

    &__logo {
        width: 57px;
        height: 57px;
        overflow: hidden;
        border-radius: 100px;
        float: left;
        position: relative;

        &:hover {
            .settings-link {
                background-color: rgba(0, 0, 0, 0.4);

                i {
                    line-height: 57px;
                    display: block;
                    text-align: center;
                }
            }
        }

        .settings-link {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            color: @w;

            i {
                opacity: .7;
                display: none;
            }
        }
    }

    &__info {
        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }

    &__name {

        @media screen {
            float: left;
            margin-bottom: .5em;

            @media (max-width: @mobile-width) {
                margin-left: .5em;
                float: none;
            }
        }
    }

    &__logout-holder {

        @media screen {
            float: left;
            padding-left: .8em;
            padding-top: 3px;

            @media (max-width: @mobile-width) {
                display: block;
                padding: 0;
                float: none;

                a {
                    &:hover {
                        background-color: @w !important;
                    }
                }
            }
        }
    }

    &__btn_open_modal {

        .icon {
            float: left;
            content: '';
            margin-right: .7em;
            opacity: .7;
            width: 20px;
            height: 23px;
            background-image: url("../images/identity.png");
            background-repeat: no-repeat;
        }

        .text {
            float: left;
            line-height: 23px;
        }

        float: right;
        margin-right: 1.75em;
        margin-top: 7px;

        &:hover {
            cursor: pointer;

            .icon {
                opacity: 1;
            }
        }

        &:after {
            clear: both;
            content: '';
            display: table;
        }
    }
}

.nav {
    &__notifications {
        display: inline-block;
        padding-top: 25px;
        margin-right: 2em;
        float: right;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            display: inline-block;

            &:after {
                display: block;
                clear: both;
                content: "";
            }

            a {
                display: block;
                float: left;
                color: @b;

                &:hover {
                    color: @p;
                    text-decoration: none;
                }
            }

            span {
                color: @w;
                font-size: .7em;
                background-color: @p;
                text-align: center;
                height: 17px;
                line-height: 17px;
                width: 17px;
                border-radius: 100px;
                margin-top: -.5em;
                display: block;
                float: left;
            }
        }
    }

    &__btn_open_menu {
        opacity: .4;
        width: 26px;
        height: 23px;
        background-image: url("../images/menu.png");
        background-repeat: no-repeat;
        background-position: center;
        float: right;
        margin-right: .2em;
        margin-top: 7px;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        &.active {
            opacity: .4;
            width: 26px;
            height: 23px;
            background-image: url("../images/close.png");
            background-repeat: no-repeat;
            background-position: center;
            float: right;
            margin-right: .2em;
            margin-top: 7px;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}

.footer {
    &__title {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 1.2em;
    }
    &__data {
        line-height: 1.8em;

        a {
            color: #8d9ab4;
        }
    }
}